{{ 'header.css' | asset_url | stylesheet_tag }}

<header>
  <h1>{{ shop.name }}</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/pages/shop">Shop</a></li>
      <li><a href="/pages/about-us">About</a></li>
      <li><a href="/pages/contact-us">Contact</a></li>
    </ul>
  </nav>
</header>

{% schema %}
{
  "name": "Header",
  "settings": []
}
{% endschema %}
