<div>
  <h1>All Products</h1>
  <ul>
    {% for product in collections.all.products %}
      <li>
        <a href="{{ product.url }}">{{ product.title }}</a> - {{ product.price | money }} - 
        {% for image in product.images %} {{ image.src | product_img_url: 'grande' }} {% endfor %}
      </li>
    {% else %}
      <li>No products found.</li>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "Shop",
  "settings": []
}
{% endschema %}
